<div class="chat-container">
  <div class="chat-header">
    <h1>Chat en Vivo</h1>
    <span class="status" [class.connected]="connectionStatus === 'Conectado'">
      {{ connectionStatus }}
    </span>
  </div>

  <div class="messages-container">
    <div *ngFor="let msg of messages" class="message" [ngClass]="msg.Platform.toLowerCase()">
      <div class="message-header">
        <span class="platform-tag">
          <img [src]="getPlatformIcon(msg.Platform)" [alt]="msg.Platform" class="platform-icon">
        </span>

        <span class="message-user" [style.color]="getUserColor(msg.UserName)">
          {{ msg.UserName }}:
        </span>

        <span class="message-text">
          <ng-container *ngFor="let segment of getMessageSegments(msg.Message)">
            <img *ngIf="isEmote(segment)" [src]="segment" class="chat-emote">
            <span *ngIf="!isEmote(segment)">{{ segment }}</span>
          </ng-container>
        </span>
      </div>
      <div class="message-time">{{ msg.CreatedAt | date: 'HH:mm' }}</div>
    </div>
  </div>
</div>