<div class="chat-container">
  <div class="chat-header">
    <h1>Chat en Vivo</h1>
    <span class="status" [class.connected]="connectionStatus === 'Conectado'">
      {{ connectionStatus }}
    </span>
  </div>

  <div class="messages-container">
    <div *ngFor="let msg of messages" class="message">
      <div class="avatar" [style.background-color]="getUserColor(msg.UserName)">
        {{ msg.UserName.charAt(0).toUpperCase() }}
      </div>

      <div class="message-content-wrapper">
        <div class="message-header">
          <span class="user-name">{{ msg.UserName }}</span>
          <span class="badge sub-badge" *ngIf="isSub(msg.UserName)">SUB</span>
          <span class="badge platform-badge" [ngClass]="msg.Platform.toLowerCase()">
            {{ msg.Platform | uppercase }}
          </span>
          <span class="message-time">{{ msg.CreatedAt | date: 'HH:mm' }}</span>
        </div>

        <div class="message-text">
          <ng-container *ngFor="let segment of getMessageSegments(msg.Message)">
            <img *ngIf="isEmote(segment)" [src]="segment" class="chat-emote">
            <span *ngIf="!isEmote(segment)">{{ segment }}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>